@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@font-face {
  font-family: "Orange Juice";
  src: font-url('orange_juice/orange_juice_2.0.ttf') format("truetype");
}

@font-face {
  font-family: "Lato";
  src: font-url('Lato/Lato-Regular.ttf') format("truetype");
}

//colors
$mint: #73BFB8;
$blue: darken(#2364AA, 5%);
$lightblue: #5AABC8;
$yellow: #FFE900;
$orange: #EA7317;
$red: #C1292E;

@mixin navColor($color) {

	color: $color;
			&:focus,
			&:hover,
			&:active {
				color: darken($color, 3%);
				background-color: transparent;
			}
}

body { 
	padding-top: 70px;
	font-family: "Lato";
	margin-bottom: 2rem;
	.navbar {
		background-color: $blue;
		background-image: none;
		border: none;
		&.navbar-fixed-top {
			padding: 10px 0;
		}
		.navbar-brand {
			font-family: "Orange Juice";
			font-size: 4rem;
			@include navColor($yellow);
		}	
		.nav > li > a {
			font-size: 1.8rem;
			@include navColor($yellow);
		}
		.navbar-nav > .open > a {
			background-color: transparent;
			&:focus,
			&:hover,
			&:active {
				background-color: transparent;
				background-image: none;
				border: none;
				color: $yellow;
			}
		}
		.dropdown-menu {
			background-color: $blue;
			color: $yellow;
			box-shadow: none;
			border-radius: 0;
			border: none;
			padding: 15px 0;
			min-width: 130px;
			> li > a {
				color: $yellow;
				&:focus,
				&:hover,
				&:active {
					color: darken($yellow, 3%);
					background-color: transparent;
					background-image: none;
				}
			}
		}
		.navbar-toggle {
			border: 2px solid $yellow;
			.icon-bar {
				background-color: yellow;
			}
		}
	}
	
	.jumbotron {
		width: 100%;
		min-height: 300px;
    	height: auto;
		background-image: image-url("view_over_himalays_nepal.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		
		background-color: transparent;
		position: relative;
		.container {
			width: 100vw;
			text-align: center;
			color: $yellow;
			
			display: inline-block;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    h1 {
		    	text-shadow: 1px 1px $blue;
		    	font-size: 3rem;
		    }
		}
	}
	.pageTitle {
		text-align: center;
	}
	
	.imageContainer {
		text-align: center;
		.img-responsive {
			margin: 0 auto 1.5rem auto;
		}
	}

	.noteText {
		border: 1px solid $blue;
		//padding: 1rem;
		margin-bottom: 2rem;
	}

	.field {
		margin-top: 2rem;
	}

	.new-note-btn {
		background-color: $yellow;
		background-image: none;
		border-radius: 0;
		border-color: $blue;
		color: $blue;
		font-size: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		&:focus,
		&:hover,
		&:active,
		&:active:hover {
			@extend .new-note-btn;
			background-color: darken($yellow, 5%);
			outline: none;
			box-shadow: none;
		}
	}

	.cancel-account {
		margin-top: 0;
		&:hover {
			@extend .cancel-account;
		}

	}
	.noteContainer {
		padding: 10px;
		.innerNoteContainer {
			padding: 10px 10px 0 10px;
			border: 1px solid $blue;
			overflow: hidden;
			position: relative;
			
			h1, 
			#author  {
				text-align: center;
			}
			.noteIcons {
				position: absolute;
				left: 10px;
				bottom: 0;
				color: $red;
			}
			.metaInfo {
				display: block;
				text-align: right;
			}

		}
	}

	.noNotesYetMessage {
		border: 1px solid $blue;
		padding: 2rem;
		text-align: center;
	}
	footer {
		text-align: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}




.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.alert {
	text-align: center;
	margin-bottom: 0;
}

#error_explanation {
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
}

//media queries

@media screen and (min-width: 768px) {

	body .jumbotron {
		min-height: 550px;
	}

	.navbar ul li a.new-note-nav {
		border: 2px solid $yellow;
		padding: 6px;
			margin-top: 8px;
	}
}

@media screen and (max-width: 768px) {

.mainPageRow {
		max-width: 600px;
		margin: auto;
	}
}

