@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@font-face {
  font-family: "Orange Juice";
  src: font-url('orange_juice/orange_juice_2.0.ttf') format("truetype");
}



body { 
	// padding-top: 70px; 
	.navbar-brand {
		font-family: "Orange Juice";
		font-size: 4rem;
	}
	.jumbotron {
		width: 100%;
		min-height: 300px;
    	height: auto;
		background-image: image-url("view_over_himalays_nepal.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		background-color: transparent;
	}
	.noteContainer {
		padding: 10px;
		.innerNoteContainer {
			padding: 10px;
			border: 1px solid rgba(0,0,0,0.2);
			min-height: 270px;
			overflow: hidden;
			h1 {
				text-align: center;
			}
		}
	}
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

#error_explanation {
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
}

//media queries

@media screen and (min-width: 768px) {

	body .jumbotron {
		min-height: 550px;
	}

}

